<% provide(:title, "Home") %>

  <h1> अमित रावत </h1>

  <h2>
  "Photographs are just light and time."
  </h2>
<div class="center">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
