<footer class="footer">
  <small>
    All Right Reserved. Socialize By <a href="https://www.facebook.com/AmitRawat4197"> Amit Rawat </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a target="_blank" href="https://www.jagran.com/local/uttar-pradesh_lucknow-city-news-hindi.html">News</a></li>
    </ul>
  </nav>
</footer>